name: Fetch Insider Trades

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: [self-hosted, macos, mac-runner]


    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip3 install -r requirements.txt

      - name: Run scraper
        env:
          GOOGLE_SHEETS_KEY: ${{ secrets.GOOGLE_SHEETS_KEY }}
          SHEET_ID: ${{ secrets.SHEET_ID }}
        run: python3 main.py
